// About page css with media query.
.field__label {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #0074bd;
    padding-top: 50px;
}

.drupal-group {
    width: 60%;
    margin: 0 auto;
    .caption-drupal-group {
        text-transform: uppercase;
        font-size: 25px;
        color: #0074bd;
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: center;
        @include breakpoint($mobile) {
            font-size: 20px;
            padding-bottom: 30px;
            padding-top: 10px;
        }
        @include breakpoint($iphone5) {
            font-size: 18px;
            padding-bottom: 20px;
            padding-top: 10px;
        }
    }
    p {
        padding-top: 20px;
        color: grey;
        a {
            color: grey;
        }
        strong {
            font-weight: bold;
        }
    }
}

.drupal-camp-2015 {
    h2 {
        @include breakpoint($mobile) {
            font-size: 23px;
            padding-bottom: 30px;
            padding-top: 35px;
        }
        @include breakpoint($iphone5) {
            font-size: 20px;
            padding-bottom: 20px;
            padding-top: 30px;
        }
    }
}

.about-camp-2015 {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
    p {
        // text-align: center;
        line-height: 20px;
        color: grey;
    }
}

.camp-images {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li {
            padding: 50px;
            color: grey;
            img {
                height: 250px;
                width: 100%;
                padding-bottom: 15px;
            }
            h3 {
                text-transform: uppercase;
                font-size: 16px;
                color: #0074bd;
                padding-top: 10px;
                padding-bottom: 15px;
            }
            @include breakpoint($tablet) {
                width: 50%;
                margin: 0 auto;
            }
            @include breakpoint($mobile-menu2) {
                width: 100%;
                margin: 0 auto;
            }
            @include breakpoint($mobile) {
                padding: 0px;
                padding-top: 10px;
            }
            @include breakpoint($iphone5) {
                padding: 0px;
                padding-top: 10px;
            }
        }
        @include breakpoint($tablet) {
            flex-direction: column;
        }
        @include breakpoint($mobile-menu2) {
            flex-direction: column;
        }
        @include breakpoint($mobile) {
            padding-left: 12px;
            padding-right: 12px;
        }
        @include breakpoint($iphone5) {
            padding-left: 12px;
            padding-right: 12px;
        }
        // @include breakpoint($tablet) {
        //     flex-direction: column;
        // }
        // @include breakpoint($mobile-menu2) {
        //     flex-direction: column;
        // }
    }
}

.code-conduct {
    padding: 30px;
    text-align: center;
    a {
        display: inline-block;
        height: 5px;
        line-height: 6px;
        width: 140px;
        background-color: #ec0342;
        color: white;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        @include breakpoint($mobile) {
            width: 110px;
            padding: 18px;
            font-size: 14px;
        }
        @include breakpoint($iphone5) {
            width: 100px;
            font-size: 12px;
            padding: 16px;
        }
    }
}

.about-wrapper {
    background-color: #f7f9fb;
    margin-top: 45px;
    .content-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        margin: 0 auto;
        padding: 20px;
        .content-block {
            color: grey;
            padding: 20px;
            h4 {
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                color: #0074bd;
                height: 30px;
                padding-bottom: 20px;
            }
            p {
                background-color: white;
                padding: 30px;
                box-shadow: 2px 2px 2px;
            }
        }
        @include breakpoint($tablet) {
            flex-direction: column;
        }
        @include breakpoint($mobile-menu2) {
            flex-direction: column;
        }
    }
}

.sponsor-block {
    a {
        @include breakpoint($mobile) {
            width: 110px;
            padding: 18px;
            font-size: 14px;
        }
        @include breakpoint($iphone5) {
            width: 100px;
            font-size: 12px;
            padding: 16px;
        }
    }
}
