// Home page css with media query.
// @import 'netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css';
.main-ticket {
    p {
        @include breakpoint($mobile) {
            font-size: 16px;
        }
        @include breakpoint($iphone5) {
            font-size: 14px;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    .become-sponsor {
        display: flex;
        flex-direction: column;
        width: 50%;
        p {
            text-align: center;
        }
        @include breakpoint( $mobile-menu2) {
            width: 100%;
        }
    }
    .tickets {
        display: flex;
        flex-direction: column;
        width: 50%;
        p {
            text-align: center;
        }
        @include breakpoint( $mobile-menu2) {
            width: 100%;
        }
    }
    font-size:20px;
    color:grey;
    line-height:75px;
    a {
        display: inline-block;
        height: 5px;
        line-height: 6px;
        width: 140px;
        background-color: #ec0342;
        color: white;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        @include breakpoint($mobile) {
            width: 110px;
            padding: 18px;
            font-size: 13px;
        }
        @include breakpoint($iphone5) {
            width: 100px;
            font-size: 12px;
            padding: 16px;
        }
    }
    @include breakpoint( $mobile-menu2) {
        flex-direction: column;
    }
}

.keynote-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f7f9fb;
    .keynote-speaker {
        padding-top: 50px;
        font-size: 15px;
        line-height: 20px;
        color: grey;
        width: 55%;
        .keynote-speaker-content {
            width: 50%;
            margin: 0 auto;
            h1 {
                font-size: 22px;
                color: #0074bd;
                text-transform: uppercase;
                font-weight: bold;
            }
            .keynote-speaker-info {
                padding-top: 30px;
                padding-bottom: 60px;
            }
            @include breakpoint($ipad-menu) {
                width: 50%;
                margin: 0 auto;
            }
            @include breakpoint($mobile-menu1) {
                width: 50%;
                margin: 0 auto;
            }
            @include breakpoint($mobile-menu2) {
                width: 50%;
                margin: 0 auto;
            }
        }
        @include breakpoint($ipad-menu) {
            width: 100%;
        }
        @include breakpoint($mobile-menu1) {
            width: 100%;
            margin: 0 auto;
        }
        @include breakpoint($mobile-menu2) {
            width: 100%;
            margin: 0 auto;
        }
    }
    .keynote-speaker-image {
        img {
            width: 100%;
            height: auto;
        }
        @include breakpoint($ipad-menu) {
            width: 40%;
            margin: 0 auto;
        }
        @include breakpoint($mobile-menu1) {
            width: 50%;
            margin: 0 auto;
        }
        @include breakpoint($mobile-menu2) {
            width: 50%;
            margin: 0 auto;
        }
    }
    @include breakpoint($ipad-menu) {
        flex-direction: column-reverse;
    }
    @include breakpoint($mobile-menu1) {
        flex-direction: column-reverse;
    }
    @include breakpoint($mobile-menu2) {
        flex-direction: column-reverse;
    }
}

#block-events {
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        color: #0074bd;
        padding-top: 50px;
    }
    .events-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        // padding: 80px;
        img {
            height: 250px;
            width: 380px;
            // padding-right: 50px;
            @include breakpoint($desktop) {
                width: 310px;
            }
            @include breakpoint($ipad-menu2) {
                width: 250px;
            }
            @include breakpoint($mobile) {
                width: 100%;
            }
            @include breakpoint($iphone5) {
                width: 100%;
            }
        }
        h1 {
            text-transform: uppercase;
            padding-top: 50px;
            font-size: 20px;
            color: #0074bd;
        }
        p {
            padding-top: 50px;
            color: grey;
            @include breakpoint($mobile) {
                padding-top: 25px;
            }
            @include breakpoint($iphone5) {
                padding-top: 18px;
            }
        }
        .event1,
        .event2,
        .event3 {
            width: 30%;
            padding-left: 10px;
            padding-bottom: 50px;
            @include breakpoint($tablet) {
                width: 50%;
                margin: 0 auto;
            }
            @include breakpoint($mobile-menu2) {
                width: 100%;
                margin: 0 auto;
            }
            @include breakpoint($mobile) {
                padding-left: 0px;
            }
            @include breakpoint($iphone5) {
                padding-left: 0px;
            }
        }
        @include breakpoint($tablet) {
            flex-direction: column;
        }
        @include breakpoint($mobile-menu2) {
            flex-direction: column;
        }
        @include breakpoint($mobile) {
            padding-left: 12px;
            padding-right: 12px;
        }
        @include breakpoint($iphone5) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

// .block-views {
h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #0074bd;
    padding-top: 50px;
    padding-bottom: 40px;
}

.view-our-sponsors {
    display: flex;
    justify-content: center;
    .view-content {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .views-row {
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// }
#block-internship2017-helpusmakethisanawesomeexperience {
    padding-bottom: 50px;
    h2 {
        text-align: center;
        font-size: 20px;
        color: grey;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .sponsor-block {
        text-align: center;
        a {
            display: inline-block;
            height: 5px;
            line-height: 6px;
            width: 140px;
            background-color: #ec0342;
            color: white;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            @include breakpoint($mobile) {
                width: 110px;
                padding: 18px;
                font-size: 14px;
            }
            @include breakpoint($iphone5) {
                width: 100px;
                font-size: 12px;
                padding: 16px;
            }
        }
    }
}

#block-internship2017-helpusmakethisanawesomeexperience {
    h2 {
        @include breakpoint($mobile) {
            font-size: 16px;
        }
        @include breakpoint($iphone5) {
            font-size: 14px;
        }
    }
}
