// Venue page css with media query.
#block-contactus,
#block-majorattractions {
    background-color: white;
    h2 {
        @include breakpoint($mobile) {
            font-size: 18px;
            padding-bottom: 0px;
            padding-top: 30px;
        }
        @include breakpoint($iphone5) {
            font-size: 16px;
            padding-bottom: 0px;
            padding-top: 30px;
        }
    }
}

.region-footer-top {
    padding-bottom: 0px;
}

.contact-us {
    background-color: white;
    h3 {
        text-align: center;
        color: grey;
    }
}

.major-attraction {
    background-color: white;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        li {
            color: #0074bd;
            text-transform: uppercase;
            img {
                height: 250px;
                width: 300px;
                @include breakpoint($mobile) {
                    width: 100%
                }
                @include breakpoint($iphone5) {
                    width: 100%
                }
                @include breakpoint($ipad-menu2) {
                    width: 190px;
                    padding-right: 5px;
                }
                @include breakpoint($desktop) {
                    width: 220px;
                    padding-right: 18px;
                }
                @include breakpoint($tablet) {
                    width: 100%;
                }
                @include breakpoint($mobile-menu2) {
                    width: 100%;
                }
            }
            p {
                padding-top: 15px;
            }
            @include breakpoint($tablet) {
                width: 70%;
                margin: 0 auto;
            }
            @include breakpoint($mobile-menu2) {
                width: 100%;
                margin: 0 auto;
            }
            @include breakpoint($mobile) {
                padding: 0px;
                padding-top: 10px;
            }
            @include breakpoint($iphone5) {
                padding: 0px;
                padding-top: 10px;
            }
        }
        @include breakpoint($tablet) {
            flex-direction: column;
            justify-content: center;
        }
        @include breakpoint($mobile-menu2) {
            flex-direction: column;
            justify-content: center;
        }
        @include breakpoint($mobile) {
            padding-left: 12px;
            padding-right: 12px;
        }
        @include breakpoint($iphone5) {
            padding-left: 12px;
            padding-right: 12px;
        }
        @include breakpoint($ipad-menu2) {
            justify-content: center;
        }
        @include breakpoint($desktop) {
            justify-content: center;
        }
    }
}

#block-joinustomakethisanawesomeexperience {
    h2 {
        text-align: center;
        color: grey;
        font-size: 15px;
    }
}

.sponsor-block {
    text-align: center;
    padding-bottom: 30px;
    a {
        display: inline-block;
        height: 5px;
        line-height: 6px;
        width: 140px;
        background-color: #ec0342;
        color: white;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
    }
}
