#block-contactus,
#block-majorattractions {
    background-color: white;
}

.region-footer-top {
    padding-bottom: 0px;
}

.contact-us {
    background-color: white;
    h3 {
        text-align: center;
        color: grey;
    }
}

.major-attraction {
    background-color: white;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        li {
            color: #0074bd;
            text-transform: uppercase;
            img {
                height: 250px;
                width: 300px;
            }
            p {
                padding-top: 15px;
            }
        }
    }
}

#block-joinustomakethisanawesomeexperience {
    h2 {
        text-align: center;
        color: grey;
        font-size: 15px;
    }
}

.sponsor-block {
    text-align: center;
    padding-bottom:30px;
    a {
        display: inline-block;
        height: 5px;
        line-height: 6px;
        width: 140px;
        background-color: #ec0342;
        color: white;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
    }
}
